@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  margin: 2em auto;
}

label {
  display: block;
  font-style: italic;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 3.5rem;
}

button,
input {
  font-family: inherit;
  padding: 0em 0.5em;
  font-size: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.done {
  color: grey;
  text-decoration: line-through;
}
